.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
}

.app-header h1 {
    margin: 0;
    font-size: 1.5em;
    color: white;
    align-items: center;
}

.logout-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #c82333;
}